# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
debug.log

# Build artifacts
dist/
build/
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp

# Docker-related
*.pid
docker-compose.override.yml
