<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Error - MicroAuthX</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container">
    <h2>Error</h2>
    <p><%= error %></p>
    <p><%= message %></p>
    <a href="/">Home</a>
  </div>
</body>
</html>
