<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>MicroAuthX - Home</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container home-container">
    <% if (user) { %>
      <h1>Welcome, <%= user.email %> 👋</h1>
      <p>You are logged in to MicroAuthX.</p>
      <a class="logout-btn" href="/logout">Logout</a>
    <% } else { %>
      <h1>Welcome to MicroAuthX</h1>
      <p>Please <a href="/login">Login</a> or <a href="/signup">Sign up</a> to continue.</p>
    <% } %>
  </div>
</body>
</html>
