# Ignore node_modules to speed up Docker build
node_modules

# Ignore logs
logs
*.log

# Ignore test files
coverage
tests

# Ignore local env files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore

# Ignore editor settings
.vscode
.idea
